.bag-container {
  margin-top: 100px;
  padding: 20px;
}

.bag-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: white;
}

.bag-title {
  margin-bottom: 8px;
}

.bag-description {
  margin-bottom: 8px;
}

.bag-price {
  font-weight: bold;
  color: #333;
}
.bag-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}