.products-container {
  margin-top: 100px;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px); 
  gap: 40px;
  justify-content: center;
}

.product-card {
  width: 300px;
  height: 520px;
  padding: 20px;

  border-radius: 16px;
  border: none;

  background: white;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;

  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card p:nth-of-type(1) {
  font-size: 14px;
  color: #555;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-card button {
  margin-top: 8px;
}

.product-buttons {
  margin-top: auto; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-header {
  text-align: center;
  margin-bottom: 50px;
}

.products-header h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.products-line {
  width: 80px;
  height: 4px;
  background: black;
  margin: 0 auto;
  border-radius: 10px;
}